<?php
 
$dbParams = array(
	'database'  => 'appcore',
	'username'  => 'root',
	'password'  => '',
	'hostname'  => 'localhost',
	'port'		=> '3306',
	'charset'	=> 'utf8',
	'driverOptions' => array(
		1002 => 'SET NAMES utf8',
	),
);

return array(
	// Assetic configuration
	'assetic_configuration' => array(
		'buildOnRequest' => true,
		'debug' => false,
		'acceptableErrors' => array(
			//defaults
			\Zend\Mvc\Application::ERROR_CONTROLLER_NOT_FOUND,
			\Zend\Mvc\Application::ERROR_CONTROLLER_INVALID,
			\Zend\Mvc\Application::ERROR_ROUTER_NO_MATCH,
			//allow assets when authorisation fails when using the BjyAuthorize module
			\BjyAuthorize\Guard\Route::ERROR,
		),

		'webPath' => __DIR__ . '/../../../public/assets',
		'cacheEnabled' => false,
		'cachePath' => __DIR__ . '/../../../data/cache',
	),
    // Licence keys and api keys
    // The reason why having a Facebook subdomain is better is for separating sessions between plateform and facebook.
    // This channel stuff gives the opportunity to know on which channel we are.
    'channel' => array(
        'facebook' => 'facebook.local',
        'platform' => 'appuser.local',
    ),
    'facebook' => array(
        'fb_appid'  => '118474821657382',
        'fb_secret' => 'fde26982baea07cab11881876a45a5fe',
        'fb_page'   => '330253093762158',
    ),
    'contact' => array( 'email' => 'contact1@test.com'),
    'rss' => array(
        'url' => 'http://www.metrofrance.com/rss.xml?c=1157379272-9',
    ),
    'doctrine' => array(
        'connection' => array(
            // default connection name
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => $dbParams['hostname'],
                    'port'     => $dbParams['port'],
                    'user'     => $dbParams['username'],
                    'password' => $dbParams['password'],
                    'dbname'   => $dbParams['database'],
                	'charset'  => $dbParams['charset'],
                	'driverOptions' => $dbParams['driverOptions'],
                )
            )
        ),
    ),
	'service_manager' => array(
		'factories' => array(
			'Zend\Db\Adapter\Adapter' => function ($sm) use ($dbParams) {
				return new Zend\Db\Adapter\Adapter(array(
					'driver'    => 'pdo',
					'dsn'       => 'mysql:dbname='.$dbParams['database'].';host='.$dbParams['hostname'],
					'database'  => $dbParams['database'],
					'username'  => $dbParams['username'],
					'password'  => $dbParams['password'],
					'hostname'  => $dbParams['hostname'],
					'charset'   => $dbParams['charset'],
				));
			},
		),
	),
);
